a {
    color: #999;
}

body {
    background-color: black;
    font-family: "Inconsolata", monospace;
    padding: 10px;
}

form {
    text-align: center;
    width: 100%;
}

.neonText {
    color:white;
    text-shadow: 
        0 0 10px #0fa,
        0 0 20px #0fa,
        0 0 40px #0fa,
        0 0 80px #0fa;
}

input {
    border: green solid 1px;
    border-radius: 10px;
    background-color: rgb(9, 38, 25);
    color: rgb(214, 255, 30);
    font-size: 1.4em;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    height: 30px;
    width: 99%;
}

::placeholder {
    color: olive;
    opacity: 1;
}

*:focus {
    outline: rgb(214, 255, 30) solid 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.grid-container a {
    color: green;
    display: block;
    font-size: 1.05em;
    overflow: hidden;
    padding: 10px;
    text-decoration: underline green;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
    text-overflow: ellipsis;
}

.grid-container a:hover {
    background-color: rgb(214, 255, 30);
}

.grid-container a:visited {
    color: olive;
}

.rss-section {
    border: 1px solid green;
    border-radius: 10px;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    color: white;
}

.rss-section span {
    background-color: rgb(9, 38, 25);
    color: rgb(150, 243, 150);
    display: block;
    font-size: 1.2em;
    height: 25px;
    padding: 10px;
    width: 100%;
}
